body {
  background: #222426;
  color: #616363;
  font-family: Geneva, Tahoma, Verdana;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
table#map {
  background: #fff;
  margin: 30px auto;
  border-collapse:collapse;
  box-shadow: 0 0 10px #000;
}
table#map td {
  width: 16px;
  height: 16px;
  padding: 0;
  line-height: 1px;
}
#map td.box {
  background: url('../img/box.png');
}
#map td.wall {
  background: url('../img/wall.png');
}
#map td.home {
  background: url('../img/home.png');
}
#map td.user {
  background: url('../img/user.png');
}

